h1{
    color: slategray;
    font-size:70px;
    text-align: right;
    background: lightyellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
p{
 color: rgb(5, 76, 146);
 font-size: 25px;
} 
h5{
    color: lightgrey;
    font-size: 100px;
    text-align: center;
    font-family: fantasy;
    font-style: oblique;
    font-weight: 100;
}
h2{
    color: red;
    font-size: 35;
}
h3{
    color:dodgerblue;
    font-size: 35;
}
h4{
    color: rgb(20, 3, 3);
    font-size: 35px;
}
/*first SUCCESSFUL USE OF DIV YAAAAY!!!*/
.first{
    color: Slategrey;
    background-color: lightgrey;
    text-align: left;
}